


.article {
	@extend .card;
	.article-img {
		position: relative;
		height: 200px;
		background-color: $primary;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
		border-radius: 10px 10px 0 0;
		div {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			color: $white;
			background: rgba($black,0.7);
			text-transform: capitalize;
		}
	}
	.article-body { 
		padding: 1.5rem;
		h2 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical; 
			overflow: hidden;
			height: 62px;
		}
		.article-copy {
			p {
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				height: 108px;
			}
		}
	}
}

figcaption {
	text-align: center;
	display: inline-block;
	max-width: 700px;
	margin: 20px auto;
	color: $text-muted;
	font-size: 70%;
	background: $gray-100;
	padding: 0 1rem; 
}
	
.blog-copy {
	section {
		padding: 4rem 0;
	}
	p {
		font-family: $headings-font-family;
		font-size: $lead-font-size;
		font-weight: $lead-font-weight;
	}
	h1, h2, h3, h4 {
		margin-top: 2rem; 
		margin-bottom: 2rem; 
	}
	h2 {
		font-weight: 600;
	}
	hr {
		text-align: center;
		margin: 40px auto;
		height: auto;
		background: none;
		opacity: 1;
		&:before {
		    line-height: 1.4;
		    text-indent: 0.6em;
		    letter-spacing: 0.6em;
		    content: "...";
		    box-sizing: inherit;
		    color: $body-color;
		}
	}
	blockquote {
		//box-shadow: inset 3px 0 0 0 rgba($primary, 1);
		padding: 1rem;
		background: $gray-100;
		border-radius: 4px;
		p {
			font-style: italic;
		}
		.blockquote-footer {
		    display: block;
		    font-size: 80%;
		    color: $text-muted;
		    text-align: right;
		    margin-top: 1rem;
		    font-family: $headings-font-family;
		}
	}
}

.references {
	font-size: 80%;
	i {
		color: $primary;
	}
}