<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brandflex</title>
    
    <meta name="description" content="UX Storyteller, Brand Discovery, Content Creation and Digital Product Design">
	<meta name="keywords" content="Logo Designer, Graphic Designer, Graphic Design Portfolio, Logo Design, Logo, Graphic, Design, Graphic Design, Freelance, Brand Identity, Branding, Strategy, Brand Strategy," />
    
    <!-- Meta -->
    <partial name="Meta" />
    
    <!-- Favs -->
    <partial name="Favicon" />
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d09827220c.js" crossorigin="anonymous"></script>
    
	<!-- Core Style -->
    <link rel="stylesheet" href="~/css/brandflex.css" />
    
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168789285-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-168789285-1');
	</script>
    
</head>
<body>
	
	<partial name="Navigation" />
    
    @RenderBody()
    
    <partial name="Footer" />
    <partial name="Cookies" />
    
    <!-- Core Scripts -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <!-- Site Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- Page Modals -->
    @RenderSection("Modals", required: false)

	<!-- Page Scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
