<aside class="sidebar">
    <div class="scrollbar">
	    <ul class="navigation">
            <li><a href="#top">Brandflex Brandbook</a></li>
            <li class="nav_heading"><a href="#core">1. Brand Core</a></li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-heart" aria-hidden="true"></i>Brand Heart</a>
                <ul>
	                <li><a href="#purpose">Purpose</a></li>
	                <li><a href="#vision">Vision</a></li>
                    <li><a href="#mission">Mission</a></li>
                    <li><a href="#value">Value</a></li>
                    
                </ul>
            </li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-map-marker" aria-hidden="true"></i>Brand Position</a>
                <ul>
                    <li><a href="#audience">Audience</a></li>
                    <li><a href="#competitors">Competitors</a></li>
                    <li><a href="#differenec">Difference</a></li>
                    <li><a href="#niche">Niche</a></li>
                </ul>
            </li>
            <li class="nav_heading"><a href="#expression">2. Brand Expression</a></li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-comment" aria-hidden="true"></i>Brand Communication</a>
                <ul>
                    <li>
                    	<a href="#messaging">Messaging</a>
						<ul>
		                    <li><a href="#tagline">Tagline</a></li>
		                    <li><a href="#valueprop">Value Proposition</a></li>
		                    <li><a href="#pillars">Messaging Pillars</a></li>
						</ul>
                    </li>
                    <li><a href="#story">Story</a></li>
                </ul>
            </li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-grin-tongue-wink" aria-hidden="true"></i>Brand Personality</a>
                <ul>
                    <li><a href="#archetypes">Archetypes</a></li>
                    <li><a href="#voice">Voice</a></li>
                </ul>
            </li>
            <li class="nav_heading"><a href="#surface">3. Brand Surface</a></li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-palette" aria-hidden="true"></i>Brand Visuals</a>
                <ul>
                    <li><a href="#brand">Brand</a></li>
                    <li><a href="#identity">Identity</a></li>
                    <li><a href="#logo">Logo</a></li>
                </ul>
            </li>
            <li class="navigation__sub">
                <a href=""><i class="fad fa-desktop-alt" aria-hidden="true"></i>Brand Presence</a>
                <ul>
                    <li><a href="#implement">Implement</a></li>
                    <li><a href="#track">Track</a></li>
                    <li><a href="#social">Social</a></li>
                </ul>
            </li>
	    </ul>
    </div>
</aside>