<section class="section bg-image" style="background-image: url('../images/jp/case.jpg')">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 mx-auto text-white">
				<h3 class="display-3 mt-0">JP Fit Rebrand.</h3>
				<ul class="fa-ul my-5">
					<li><span class="fa-li"><i class="far fa-badge-dollar text-primary"></i></span>Partnered with <b>Virgin Active SA</b></li>
					<li><span class="fa-li"><i class="far fa-chart-line text-primary"></i></span><b> +30% </b>conversion rate</li>
					<li><span class="fa-li"><i class="far fa-star text-primary"></i></span><b> 2x </b>features on Virgin Active SA</li>
				</ul>
				<a href="/jp-fit" class="btn btn-black"><i class="far fa-laugh-wink mr-2"></i>View Case Study</a>
			</div>
		</div>
	</div>
	<video autoplay loop muted class="video-cover">
		<source src="~/videos/jp-fit.mp4" type="video/mp4">
		<source src="~/videos/jp-fit.webm" type="video/webm">
	</video>
</section>