<footer class="footer py-4 bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="/"><img src="~/images/logo/brand-brandmark-color.svg" height="60px"></a>
				<div class="mt-3 h6">Follow for more Brand Storytelling.</div>
				<div class="social mt-2">
					<a href="https://www.linkedin.com/in/wernergriesel/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
					<a href="https://www.instagram.com/brandflex.co/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
					<a href="https://www.facebook.com/BrandflexCo" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
					<a href="https://twitter.com/BrandFlexCo" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
					<a href="https://www.behance.net/brandflex" target="_blank"><i class="fab fa-behance fa-lg"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer py-4 bg-black text-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-center text-md-left">
				<small><b>Made with <i class="fas fa-heart text-primary" aria-hidden="true"></i> &amp; <i class="fas fa-coffee text-primary" aria-hidden="true"></i> &copy; @DateTime.Now.Year Brandflex.</b></small>
			</div>
			<div class="col-md-6 text-center text-md-right">
				<small><b><a href="/privacy">Privacy Policy</a> • <a href="/terms">Terms of Use</a></b></small>
			</div>
		</div>
	</div>
</footer>