<footer class="footer py-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div>A story about your brand</div>
				<div class="credit">
					<div class="role">
						<p>Site<br>by</p>
						<a href="/about">Werner Griesel</a>
					</div>
					<div class="role">
						<p>Profile<br>on</p>
						<a href="https://www.linkedin.com/in/wernergriesel/" target="_blank">LinkedIn</a>
					</div>
					<div class="role">
						<p>Profile<br>on</p>
						<a href="https://www.instagram.com/brandflex.co/" target="_blank">Instagram</a>
					</div>
					<div class="role">
						<p>Profile<br>on</p>
						<a href="https://www.facebook.com/BrandflexCo" target="_blank">Facebook</a>
					</div>
					<div class="role">
						<p>Profile<br>on</p>
						<a href="https://www.behance.net/brandflex" target="_blank">Behance</a>
					</div>
				</div>
				<div>Made with <i class="fas fa-heart" aria-hidden="true"></i> &amp; <i class="fas fa-coffee" aria-hidden="true"></i> &copy; @DateTime.Now.Year Brandflex.</div>
			</div>
		</div>
	</div>
</footer>