<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="mt-0">FREE Branding Starter Kit!</h5>
						<p>Get access to branding, design &amp; business resources including a storytelling guide!</p>
						<div class="form-group">
							<input type="text" class="form-control text-center" placeholder="First Name...">
						</div>
						<div class="form-group">
							<input type="email" class="form-control text-center" placeholder="Email Address...">
						</div>
						<a href="" class="btn btn-black">Get started</a>
						<div class="mt-2"><small>100% Privacy. No spam.</small></div>
					</div>
				</div>
			</div>
			<div class="col-md-5 ml-auto">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="mt-0">FREE Social Media Starter Kit!</h5>
						<p>Everything you'll need to get started on and tips to your inbox weekly.</p>
						<div class="form-group">
							<input type="text" class="form-control text-center" placeholder="First Name...">
						</div>
						<div class="form-group">
							<input type="email" class="form-control text-center" placeholder="Email Address...">
						</div>
						<a href="" class="btn btn-black">Get started</a>
						<div class="mt-2"><small>100% Privacy. No spam.</small></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>