<section id="contact" class="section bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="display-4 text-center mb-4">Ready? Let's begin🔥</h2>
				<p>Brandflex creates digital content for some of the best companies in the world. Whether you need to create a new brand from scratch, drastically improve your brand messaging, Brandflex has you covered. To know more, request a consultation through this form:</p>
				
				<div class="box box-v text-dark">
					<div class="left">
						<h3>Get the Brandflex Brandbook</h3>
						<p><b>Get started with Brandflex Brandbook, a comprehensive framework for building a unique brand from scratch.</b></p>
						

						<partial name="SubscribeBrandbook" />
						
					</div>
					<div class="right">
					</div>
				</div>
				
				<p><small>We use Mailchimp as our marketing platform. By clicking to download, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more</a> about Mailchimp's privacy practices here.</small></p>
			</div>
		</div>
	</div>
</section>


