<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="~/images/logo/brand-brandmark-color.svg" height="30px" class="mr-2">brandflex</a>
		<a class="contact" href="#contact"><i class="fas fa-comment-smile mr-2"></i>Get in touch</a>

		@*
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav navbar-nav-hover ml-auto">
				
				<li class="nav-item"><a class="nav-link" href="/brand-discovery">Brand Discovery</a></li>
				<li class="nav-item"><a class="nav-link" href="/social-media-content">Social Content</a></li>
				<li class="nav-item"><a class="nav-link" href="/content-workshop">Workshops</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="/contact">Get in touch</a></li>
				<li class="nav-item"><a class="nav-link" href=""><i class="fas fa-search"></i></a></li>
				
			</ul>
		</div>
		*@
	</div>
</nav>