<section class="section process bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="h1 mt-0">A guided process.</h3>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-3 text-center">
				<div class="card bg-primary">
					<div class="card-body">
						<i class="fal fa-comments fa-4x"></i>
						<h5 class="my-3 text-white"><span>1.</span> Meet-Up with Team</h5>
						<p class="mb-0 text-white"><b>We meet with your team in-person for a 4-8 hour session.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-black">
					<div class="card-body">
						<i class="fal fa-crown text-primary fa-4x"></i>
						<h5 class="my-3 text-white"><span>2.</span> Discovery Session</h5>
						<p class="mb-0 text-white"><b>We guide your team through a strategic Discovery framework.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-primary">
					<div class="card-body">
						<i class="fal fa-pencil-ruler fa-4x"></i>
						<h5 class="my-3 text-white"><span>3.</span> Brand Frameworks</h5>
						<p class="mb-0 text-white"><b>We do multiple exercises that help us understand your business.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-black last">
					<div class="card-body">
						<i class="fal fa-box-full text-primary fa-4x"></i>
						<h5 class="my-3 text-white"><span>4.</span> Brand Deliverables</h5>
						<p class="mb-0 text-white"><b>We hand over a perfect robust implementable Brand Guideline.</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

