<section class="section process bg-black-gradient">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="h1 mt-0 text-white">A guided process.</h3>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-3 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body">
						<i class="fal fa-comments fa-2x"></i>
						<h5 class="my-3"><span>1.</span> Team Meet-up</h5>
						<p class="mb-0"><b>We meet with your team in-person for a 4-8 hour session.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body">
						<i class="fal fa-crown fa-2x"></i>
						<h5 class="my-3"><span>2.</span> Discovery Session</h5>
						<p class="mb-0"><b>We guide your team through a strategic Discovery framework.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body">
						<i class="fal fa-pencil-ruler fa-2x"></i>
						<h5 class="my-3"><span>3.</span> Brand Frameworks</h5>
						<p class="mb-0"><b>We do multiple exercises that help us understand your business.</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="card bg-light no-shadow last">
					<div class="card-body">
						<i class="fal fa-box-full fa-2x"></i>
						<h5 class="my-3"><span>4.</span> Brand Deliverables</h5>
						<p class="mb-0"><b>We hand over a perfect robust implementable Brand Guideline.</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

