<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6">
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=brand_discovery" target="_blank" class="box box-i text-white">
					<div class="left">
						<h3>Brand Discovery</h3>
						<p><b>By the end, you’ll have robust and implementable brand guidelines, to put your brand out into the world.</b></p>
						<div class="btn btn-small bg-black text-white"><i class="fas fa-headset mr-2"></i>Book a FREE call</div>
					</div>
					<div class="right">
					</div>
				</a>
			</div>
			<div class="col-xl-6">
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=social_media_content" target="_blank" class="box box-ii bg-black text-white">
					<div class="left">
						<h3>Social Media Content</h3>
						<p><b>Book more clients & grow organically on social media platforms.</b></p>
						<div class="btn btn-small bg-primary text-white"><i class="fas fa-headset mr-2"></i>Book a FREE call</div>
					</div>
					<div class="right">
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=tell_a_story" target="_blank" class="box box-iii text-dark">
					<div class="left">
						<h3>Tell your Story</h3>
						<p><b>Translate your brand message consistently across all platforms and engage customers.</b></p>
						<div class="btn btn-small bg-primary text-white"><i class="fas fa-headset mr-2"></i>Book a FREE call</div>
					</div>
					<div class="right">
					</div>
				</a>
			</div>
			<div class="col-xl-6">
				<a href="/about" class="box box-iv text-white">
					<div class="left">
						<h3>More about me</h3>
						<p><b>I love telling stories; I love getting into the dirt with what makes a user, a company, a client or a brand tick.</b></p>
						<div class="btn btn-small bg-white text-dark"><i class="fas fa-comment mr-2"></i>Meet Werner</div>
					</div>
					<div class="right">
					</div>
				</a>
			</div>
		</div>
	</div>
</section>