<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="testimonial">
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
				</div>
			</div>
		</div>
	</div>
</section>