<section class="section-sm hidden-md-down">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="h1 mt-0">Some kind words...</h3>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-md-12 col-lg-10 mx-auto">
				<div class="testimonials">
					@*
					<div class="testimonial">
						<div class="avatar"><img src="~/images/clients/ana.jpg"></div>
						<div class="copy">
							<p>IPhone microdosing whatever art party, drinking vinegar vape photo booth vegan kale chips. Food truck banjo pitchfork, tumeric migas bushwick biodiesel kombucha twee hexagon before they sold out small batch cred occupy.</p>
						</div>
						<h4 class="card-title">Ana Santos</h4>
						<h6 class="text-muted">UX Consultant, Mentor &amp; Coach.</h6>
						<div class="footer">
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
                        </div>
					</div>
					*@
					<div class="testimonial">
						<div class="avatar"><img src="~/images/clients/nicole.jpg"></div>
						<div class="copy">
							<p>Werner proved to be very professional, timely and skilled. He is original, extremely meticulous in his work and looks after his clients individual needs. His service translates quality, efficiency and creativity. All in all I highly recommend Werner as he would be a valuable asset to any company looking to employ him / make use of his services.</p>
						</div>
						<h4 class="card-title">Nicole Willemse</h4>
						<h6 class="text-muted">Marketing Manager @@ Kazimingi Nursery Farm.</h6>
						<div class="footer">
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
                        </div>
					</div>
					<div class="testimonial">
						<div class="avatar"><img src="~/images/clients/justen.jpg"></div>
						<div class="copy">
							<p>Werner is one of the best Graphic, Brand Designers I have ever met. His attention to detail &amp; ability to perfectly visualise any complex business logic has been invaluable.</p>
						</div>
						<h4 class="card-title">Justen van Eck</h4>
						<h6 class="text-muted">Entrepreneur.</h6>
						<div class="footer">
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
                        </div>
					</div>
					<div class="testimonial">
						<div class="avatar"><img src="~/images/clients/thea.jpg"></div>
						<div class="copy">
							<p>Rhesan Consulting contacted Werner to design a logo for our company. What we received surpassed our expectations by far. The colour, fonts and the art are still just perfect and after so many years there is still no need to change anything.
							<p>Brandflex helped our business build character due to the quality, efficiency and creativity of his work. I can testify and highly recommend him as he is very professional and skilled in branding and very much a great artist in his field.</p>
						</div>
						<h4 class="card-title">Thea Pienaar</h4>
						<h6 class="text-muted">Rhesan Consulting.</h6>
						<div class="footer">
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
							<i class="fas fa-star text-warning"></i>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>