// Fonts

@font-face {
    font-family: 'Tusker';
    src: url('../fonts/Tusker/Tusker.eot');
    src: url('../fonts/Tusker/Tusker.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tusker/Tusker.woff2') format('woff2'),
         url('../fonts/Tusker/Tusker.woff') format('woff'),
         url('../fonts/Tusker/Tusker.ttf') format('truetype'),
         url('../fonts/Tusker/Tusker.svg#../fonts/Tusker/Tusker') format('svg');
    font-weight: 500;
    font-style: normal;
}