@{
    ViewData["Title"] = "About Me";
    ViewBag.MetaDescription = "Home Page Description";
}


<section class="vh-100 intro bg-black">
	
	<section class="wrap vh-100">
		<div class="content center-center">
			<h1 class="display-1 mt-4 text-white">Heita, Howzit, Dumela, Hallo<br>I’m Werner🔥</h1>
			<a href="https://calendly.com/brandflex/branding" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a FREE Brand Discovery Call</a>
		</div>
	</section>
	
	<div id="container">
		<video id="background_video" loop muted></video>
		<div id="video_cover"></div>
		<div id="overlay"></div>
		<div id="video_controls">
			<span id="play"><img src="play.png"></span>
			<span id="pause"><img src="pause.png"></span>
		</div>
	</div>
	
</section>
@*
<section class="about-intro bg-black">
	<div class="container-fluid">
		<h2 class="display-1 text-white">Werner,<br>not just a<br>UX designer🔥</h2>
		<div class="row">
			<div class="col-md-9 ml-auto">
				<img src="~/images/about/werner_griesel.jpg" class="img-fluid parallax">
				<img class="circle-badge" src="~/images/about/designer.svg">
			</div>
		</div>
	</div>
</section>
*@
<section class="section work">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7 relative">
				<img src="~/images/about/work.png" class="img-fluid parallax">
				<img class="circle-badge" src="~/images/about/developer.svg">
			</div>
			<div class="col-md-5 ml-auto">
				<h3 class="display-3">My Why?</h3>
				<div class="mt-5 wow fadeIn">
					<p>Heita, Howzit, Dumela, Hallo I’m Werner and I’m a UX designer since before birth but officially since always.</p>
					<p><b>As a User Experience (UX) evangelist, I help businesses, creative entrepreneurs and students grow high-converting businesses and websites through UX strategy.</b></p> 
					<p>I love telling stories; I love getting into the dirt with what makes a user, a company, a client or a brand tick.</p>
					<p>I am a firm believer that a brand and the end user are the main characters of their own hero’s journey and these paths cross several times.</p>
					<p class="mb-0">Armed with strategic thinking, making memorable visual identities I will ensure your brand and business stand the test of time.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section experience bg-light">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-6">
				<h3 class="display-3 mb-5">User Experience</h3>
				<div class="lead wow fadeIn">
					<p class="">Currently, I serve in a role as UX Manager at <a href="http://dotslash.digital/" target="_blank">Dotslash Digital</a> where I lead a talented (and growing) team of UXers, Designers, Front-end pirates and Strategy specialists to disrupt in various industries.</p>
					<p class="">As an experience designer with a background in Communication Science and Fine Arts, I design thoughtful user experiences across a range of digital products, including everything from e-commerce and classifieds to accommodation platforms and the odd company profile.</p>
					<p class="">I've designed and shipped global products for the likes of South Point, Auto Mart, Junk Mail, Job Mail, Time+Tide, LogBox, Pirtek, Spotics, Dekra, WDGMC and Mirage.</p>
					<p class="">Now, I teach people how to value themselves and communicate their value to others through open platforms like Instagram, Facebook, LinkedIn and Twitter and sometimes a lecturing hall.</p>
					<p class="">Get in touch with me to brainstorm or conduct a workshop on: development, user experience, products, pricing, typography, design-thinking, marketing and content creation.</p>
				</div>
				<div class="mt-5 wow fadeIn" data-wow-delay="0.5s"><a href="/work" class="btn btn-primary">View some projects</a></div>
			</div>
			<div class="col-md-5 ml-auto">
				<div class="wow fadeIn relative" data-wow-delay="0.5s">
					<div class="relative">
						
						<img class="circle-badge" src="~/images/about/learn.svg">
						<div class="position">
							<div class="date">2020</div>
							<h4>UX Mentor</h4>
							<b><a href="https://www.springboard.com/invite/HA1MJ/" target="_blank">Springboard</a></b>
						</div>
						<div class="position swot">
							<div class="date">2020</div>
							<h5>User Experience Design</h5>
							<b>University of Cape Town</b>
						</div>
						<div class="position">
							<div class="date">2009 — @DateTime.Now.Year</div>
							<h4>UX-UI Manager</h4>
							<b><a href="http://dotslash.digital/" target="_blank">Dotslash DX</a></b>
						</div>
						<div class="position swot">
							<div class="date">2018 — 2019</div>
							<h5>BA Comm. Science</h5>
							<b>University of South Africa</b>
							<div><small>* Completed 29 credits</small></div>
						</div>
						<div class="position">
							<div class="date">2016 — 2018</div>
							<h4>Sessional Lecturer</h4>
							<b><a href="https://www.openwindow.co.za/" target="_blank">Open Window Institute</a></b>
						</div>
						<div class="position swot">
							<div class="date">2014</div>
							<h5>Interaction Design</h5>
							<b>Open Window Institute</b>
						</div>
						<div class="position swot">
							<div class="date">2006 — 2007</div>
							<h5>BA Visual Studies</h5>
							<b>University of Pretoria</b>
							<div><small>* Completed 30 credits</small></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="insta">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
	</div>	
</section>

@*
<section class="toolbox">
	<div class="container-fluid">
		<div class="heading text-center">
			<h5 class="mt-5 wow fadeIn">Skills as UX Engineer</h5>
			<h3 class="display-1 mt-4">Toolbox</h3>
		</div>
		<div class="row mt-5">
			<div class="col-md-7 mx-auto">
				<div class="lead text-center">
					As a UX Engineer, I possess a considerable skillset that covers UI and UX design, research, and front-end development.
				</div>
			</div>
		</div>
		<div class="row mt-5 toolbox-items">
			<div class="col-md-4">
				<h3>Dev Toolbox</h3>
				<ul class="lead mt-5 fa-ul">
					<li><span class="fa-li"><i class="fad fa-check"></i></span>HTML5, CSS3, and JavaScript</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>.Net Core</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Clean, semantic, and reusable code</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Mobile development</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Version control</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Responsive design</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Lightning fast prototyping</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Bootstrap Magician</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Azure Services</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>UX Toolbox</h3>
				<ul class="lead mt-5 fa-ul">
					<li><span class="fa-li"><i class="fad fa-check"></i></span>High-fidelity prototyping</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Research in the form of:</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Persona creation</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Storyboarding</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>User-flows</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Usability testing</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Heuristic evaluation</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Information architecture</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Iterations and iterating</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>UI Toolbox</h3>
				<ul class="lead mt-5 fa-ul">
					<li><span class="fa-li"><i class="fad fa-check"></i></span>High-quality UI components</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Reusable UI components</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Photoshop, Illustrator and Sketch</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>UI frameworks</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>Responsive elements</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>fill</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>fill</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>fill</li>
					<li><span class="fa-li"><i class="fad fa-check"></i></span>fill</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="marquee">
	<div class="marquee-inner">
		<div class="items">
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-31.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-32.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-33.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-15.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-34.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-16.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-01.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-02.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-03.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-13.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-04.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-10.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-11.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-09.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-14.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-35.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-12.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-07.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-08.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-19.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-20.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-21.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-24.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-17.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-18.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-05.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-06.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-22.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-23.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-25.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-26.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-27.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-29.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-28.png"></div>
			<div class="item"><img class="img-fluid" src="~/images/platform/platform-30.png"></div>
		</div>
	</div>
</section>

<section class="section me">
	<div class="container-fluid">
		<div class="heading">
			<h5 class="mt-5 mb-0 wow fadeIn">Content Creator &amp;</h5>
			<h3>UX Story teller</h3>
			<div class="mt-5"><a href="https://www.instagram.com/brandflex.co/" target="_blank" class="btn btn-primary">Visit on Instagram</a></div>
		</div>
		<div class="row">
			<div class="col-md-7 ml-auto">
				<img src="~/images/about/experience.png" class="img-fluid parallax">
				<img class="circle-badge" src="~/images/about/lecturer.svg">
			</div>
		</div>
	</div>
</section>

<section class="intro d-none">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
			    <h1 class="display-4">@ViewData["Title"]</h1>
			    <ul>
				    <li>Who am I?</li>
				    <li>My Why?</li>
				    <li>What i do?</li>
				    <li>Experience</li>
				    <li>Who do you work with?</li>
				    <li>My creating process?</li>
				    <li>Pricing?</li>
				    <li>Lead time?</li>
				    <li>What else do I do?</li>
			    </ul>
			</div>
		</div>
	</div>
</section>
*@

@section Scripts {
	<script src="~/vendors/bideo/bideo.js"></script>
	<script src="~/vendors/bideo/main.js"></script>
	<script src="~/vendors/simpleParallax/simpleParallax.min.js"></script>
	<script>
		// Parallax images
		var image = document.getElementsByClassName('parallax');
		new simpleParallax(image);
	</script>
	<script src="~/vendors/scrollMove/scrollMove.js"></script>
	<script>
	   scrollMove('.items',60 ,1 );
    </script>
}

@section Modals {
	
}