@{
    ViewData["Title"] = "Blog";
    ViewBag.MetaDescription = "Home Page Description";
}


<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="h1">🧐</div>
				<h1 class="display-1 mt-4">@ViewData["Title"].</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container-fluid body-container">
	    <div class="row justify-content-center">
	        <div class="col-12">
		        
		        <div class="articles">
			        <div class="row">
				        
		                <article class="col-md-4">
			                <div class="article mb-4">
				                
		                        <a href="/article" class="article-img" style="background-image: url('')">
			                        <div class="badge">Category</div>
		                        </a>
			                        	
				                <div class="article-body">
				                    <h2 class="h4"><a href="/article">Title</a></h2>
				                    <p class="small">
				                        <strong>Tags</strong>
				                        <span>#tag.Title</span>
				                        <span>•</span>
				                        <strong>Published</strong> yyyy-MM-dd
				                    </p>
				                    
				                    <div class="article-copy">
					                    <p>Copy</p>
					                </div>
				
				                    <a href="/article" class="btn bt-sm btn-primary">Read more</a>
				                </div>
			                </div>
		                </article>
		                
			        </div>
		        </div>
	        </div>    
	    </div>
	</div>
</section>



<partial name="Funnel" />

@section Scripts {

}

@section Modals {
	
}