@{
    ViewData["Title"] = "Schedule a Free call";
    ViewBag.MetaDescription = "Home Page Description";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]</h1>
				<div class="mt-4">
					<partial name="Calendly" />
				</div>
			</div>
		</div>
	</div>
</section>







@section Scripts {

}

@section Modals {
	
}