@{
    ViewData["Title"] = "Brand Strategy";
    ViewBag.MetaDescription = "Home Page Description";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}


<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Book a FREE Brand Discovery call 🔥</h1>
				<partial name="Calendly" />
			</div>
		</div>
	</div>
</section>




@section Scripts {

}

@section Modals {
	
}