@{
    ViewData["Title"] = "Invite customers into your (brand) story";
    ViewBag.MetaDescription = "Clarify your message so customers will listen. Make the customer the hero.";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]...🔥</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=brand_story" target="_blank" class="btn btn-dark mt-4 gtm-story-call"><i class="fas fa-headset mr-2"></i>Book a Free Discovery Call</a>
			</div>
		</div>
	</div>
</section>

<section class="process">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body text-dark">
						<h3>1. Discovery</h3>
						<p class="lead">Your brand is not the hero, they are!</p>
						<div class="h5"><i class="fad fa-ufo mr-1"></i>Build a story</div>
					</div>
				</div>
            </div>
           <div class="col-md-4 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body text-dark">
                    	<h3>2. Framework</h3>
                    	<p class="lead">Structure your content for your customers.</p>
                    	<div class="h5"><i class="fad fa-transporter-2 mr-1"></i>Add brand offers</div>
					</div>
                </div>
            </div>
            <div class="col-md-4 text-center">
				<div class="card bg-light no-shadow last">
					<div class="card-body text-dark">
                    	<h3>3. A Better Story</h3>
						<p class="lead">Invite customers into a story.</p>
						<div class="h5"><i class="fad fa-user-astronaut mr-1"></i>Better content</div>
					</div>
                </div>
            </div>
		</div>
	</div>
</section>


<section id="core" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-2">Tell a story</h2>
				<p class="lead">Your brand is not the hero, they are!</p>
				<p>Companies need to understand that the brand is not the hero, but the customer is the hero. That is the only way to engage them and the brand's role is to guide the hero successfully through their challenges. You want your brand to be the Yoda to Luke Skywalker, your customer. So, how do you invite the customer into your story?</p>
				<h3 class="display-4">Build a Story</h2>
				<p class="lead">Every memorable story is build on a simple framework:</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>A character(customer) has a problem</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Meets guide(brand) who gives them a plan</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Calls them to action</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Failure would be devastating</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>The guide navigates the hero to success</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=story" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Story Discovery Call</a>
			</div>
			<div class="col-md-4 ml-auto">
				<ul id="sceneI" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="yoda"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section id="expression" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-4">
				<ul id="sceneII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="book"></div></li>
				</ul>
			</div>
			<div class="col-md-8 col-lg-6 ml-auto">
				<h2 class="display-2">Brand Story</h2>
				<p class="lead">Invite customers into a story.</p>
				<p>Most companies waste enormous amounts of money trying to tell a great brand story. The truth is that nobody cares. But every human being wants to be invited into a story.</p>
				<h3 class="display-4">Your brand offers</h2>
				<p class="lead">All users, customers or clients want your brand to offer them:</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Vision of a better life</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Help them overcome challenges</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Act as their guide</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Take them to a climatic sceneP</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>A story that ends happily</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=story" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Story Discovery Call</a>
			</div>
		</div>
	</div>
</section>


<section id="core" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-2">We can help</h2>
				<p class="lead">Start making the customer the hero.</p>
				<p>We start by going through all your content and make notes on where to fine tune your message to make you brand story about the customer. You should invite your customer into a story. If it doesn't you're certainly loosing thousands of dollars.</p>
				<h3 class="display-4">Your marketing</h2>
				<p class="lead">We help you craft a story, just better!</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>We dissect all you content</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Brainstorm a killer story</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Craft a clear message</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Update all your communications</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Invite users into your story</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=story" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Story Discovery Call</a>
			</div>
			<div class="col-md-4 ml-auto">
				<ul id="sceneIII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="badgeUp"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>


<partial name="Funnel" />

@section Scripts {
	<script src="~/vendors/parallax/parallax.js"></script>
	<script>
		var sceneI = document.getElementById('sceneI');
		var parallax = new Parallax(sceneI);
		
		var sceneII = document.getElementById('sceneII');
		var parallax = new Parallax(sceneII);
		
		var sceneIII = document.getElementById('sceneIII');
		var parallax = new Parallax(sceneIII);	
	</script>
}

@section Modals {
	
}