@{
    ViewData["Title"] = "Brand Storytelling Origins";
    ViewBag.MetaDescription = "Home Page Description";
    ViewBag.MetaDate = "2020-09-17";
}

<section class="section pb-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]</h1>
				<div class="max-width mx-auto mt-4">
					<div class=""><text><b>@ViewBag.MetaDate</b> by <a href="https://www.instagram.com/brandflex.co/" target="_blank"><i class="fab fa-instagram"></i> Brandflex</a></text></div>
				</div>
				<div class="mt-3">
                	<div class="addthis_inline_share_toolbox"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section pt-5">
	<div class="container">
	
	    <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto text-center">
                <img src="~/images/blog/brand-storytelling-origins.jpg" class="img-fluid parallax">
                <figcaption>Photo: Unsplash.com <a href="https://unsplash.com/@@gabrielbassino" target="_blank">@@gabrielbassino</a></figcaption>
            </div>
        </div>
	
	    <div class="row justify-content-center mt-5">
	        <div class="col-lg-8 col-md-10 col-xs-12 blog-copy">
		        
		        <section>
			        <p><b>Your brand story is a tale/story/narrative/anecdote that involves a hero (your customer) who goes on an adventure, and in a 
						decisive crisis wins a victory, guided by your brand, and then comes home changed or transformed.</b></p>
					<p>Nice <strike>story</strike> framework, right?!</p>
					<p>But where does it come from?</p>
					
					<hr>
					
					<p>No, I am not talking cave people writing on the walls, explorers jotting down their trips on a boat. No, I am talking about 
						those guys and girls you see with the black and white photos (very grainy) that influenced HOW we tell stories today.</p>
					<p><img src="~/images/blog/Socrates-Plato-Aristotle.png" alt="Socrates, Plato & Aristotle" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3">Think Freudian, Ulysses or Odyssey... then think Rick &amp; Morty, The Matrix and any current movie franchise or series you are binging at 
						the moment. These guys didn’t just had a bunch of coffee, a book and a pen and wrote our favourite shows... Nope, there must be a formula to it.</p>
					<p><b>Our Mission</b>: Find out how to tell our very own brand story and build on the frameworks of the greats.</p>
					<p><img src="~/images/blog/freud-jung-joyce.png" alt="Freud, Jung & Joyce" class="img-fluid d-block float-none float-md-left mx-auto ml-md-3">So we are going on a brief adventure... being a Brand Barbarian (Homo Sapien that does branding) I love to tell a delightful 
						story and get behind what makes a brand, the client and the end user tick. We will find out where we can get a “cure-all” formula to write a decent brand story.</p>
					<p>But first... let's look at some frameworks and the players of today.</p>
		        </section>


				<section>
					<h2>The Hero's Journey</h2>
					<p>The Hero's Journey is a classic story structure that's shared by stories the world over. It refers to an extensive category 
						of stories in which a character ventures out to get what they need, faces conflict, and ultimately triumphs over adversity.</p>
					<p>Often described in a framework of 10-12 stages, <b>Joseph Campbell</b> summarised the basic idea as follows in his epic 1949 work <b>The Hero with a Thousand Faces</b>.</p>
					<blockquote class="blockquote">
						<p class="mb-0">"A hero ventures forth from the world of common day into a region of supernatural wonder: fabulous forces are there 
							encountered and a decisive victory is won: the hero comes back from this mysterious adventure with the power to bestow boons on his fellow man."</p>
						<footer class="blockquote-footer">Joseph Campbell</footer>
					</blockquote>
					
					<hr>
					
					<h3>Joseph Campbell</h3>
					<p><img src="~/images/blog/joseph-campbell.png" alt="Joseph Campbell" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3">I am a massive <b>Joseph Campbell</b> fan, got the t-shirt, have the cool poster hanging in the room and absorbed everything that he wrote.</p>
					<p>Campbell often referred to the work of modern writers like <b>James Joyce</b>. His ideas regarding myth and its relation to the human psyche are dependent in part on the pioneering work of <b>Sigmund Freud</b>, but in particular on the work of <b>Carl Jung</b>, whose studies of human psychology and the Jungian archetypes influenced his work.</p> 
					
					<hr>
					
					<h3>The Hero's Journey</h3>
					<div class="text-center mt-5">
						<img src="~/images/blog/heros-journey.png" alt="Heros Journey Framework" class="img-fluid">
						<figcaption>Illustration of Joseph Campbell's Hero's Journey</figcaption>
					</div>
				</section>
				
				<section>
					<h2>Adapted for the Artist</h2>
					<h3>Steven Pressfield - The Artist's Journey</h3>
					<p><img src="~/images/blog/steven-pressfield.png" alt="Steven Pressfield" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3">In Steven Pressfield's book <b>The Artist's Journey: The Wake of the Hero's Journey and the Lifelong Pursuit of Meaning</b> he starts where the Hero's Journey ends saying "You are an artist... and you have an artist journey".</p>
					<p>What then?</p>
					<p>The passage that comes next is The Artist’s Journey.</p>
					
					<blockquote class="blockquote">
						<p>"On our artist’s journey, we move past Resistance and past self-sabotage. We discover our true selves and our authentic calling, and 
							we produce the works we were born to create.</p>
						<p>You are an artist too - whether you realise it or not, whether you like it or not - and you have an artist’s journey. Will you live it out? 
							Will you follow your Muse and do the work you were born to do?</p>
						<p class="mb-0">Ready or not, you are called."</p>
						<footer class="blockquote-footer">Steven Pressfield</footer>
					</blockquote>
				</section>
				
				<section>
					<h2>Adapted for the Small Screen</h2>
					<h3>Dan Harmon - Rick and Morty</h3>
					<p><img src="~/images/blog/dan-harmon.png" alt="Dan Harmon" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3"><b>Dan Harmon</b> built a framework to help us tell stories, a distilled version of Joseph Campbell’s The Hero’s Journey and both can help tell all stories.</p>
					<p>The <b>Story Circle</b> lays out a kind of narrative arc that's commonly used by myths from all over the world and emphases how almost all forms of storytelling have a cyclical nature.</p> 
					<p>Think Community, Rick and Morty, The Simpsons (Guest Writer), even Doctor Strange (Consultant).</p>
					<p>It’s an approach that many other writers have since adopted, including IT Crowd creator Graham Linehan.</p>
					
					
					<hr>
					
					<h3>A crash course</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RG4WcRAgm7Y?rel=0" allowfullscreen></iframe>
					</div>
					<div class="text-center">
						<figcaption>Dan Harmon's Story Circle - Rick and Morty - Adult Swim</figcaption>
					</div>
					<hr>
					<h3>The Story Circle</h3>
					<div class="text-center mt-5">
						<img src="~/images/blog/story-circle.png" alt="Story Circle Framework" class="img-fluid">
						<figcaption>Illustration of Dan Harmon's Story Circle</figcaption>
					</div>
				</section>
				
				<section>
					<h2>Adapted for Movies</h2>
					<h3>George Lucas - Star Wars</h3>
					<p><img src="~/images/blog/george-lucas.png" alt="George Lucas" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3">Since the publication of The Hero with a Thousand Faces, Campbell's theory has been purposely popping up and utilised by a wide variety of modern writers, directors and artists.</p> 
					<p>With his guidance, countless filmmakers see an image as symbolic, character as archetypal, and narrative as mythic.</p>
					<p>Filmmaker <b>George Lucas</b> acknowledged Campbell's theory in mythology, and its influence on the <b>Star Wars</b> films.</p>
					<p>The mythic structure he learned from Campbell has gone from Lucas' secret weapon to an industry standard. Just have a look at most studios and franchises. Dare I say all Marvel movies?!</p>
				</section>
				
				<section>
					<h2>Adapted for Marketing</h2>
					<h3>Donald Miller - Building a Storybrand</h3>
					<p><img src="~/images/blog/donald-miller.png" alt="Donald Miller" class="img-fluid d-block float-none float-md-left mx-auto mr-md-3"><b>Building a Storybrand</b> by Donald Miller is easy to digest, and we are able to build better ways to tell a marketing story.</p> 
					<p>Miller proposes the use of the Hero’s Journey as the framework for your marketing message and the brand experience of a business.</p> 
					<p>Ingenious in that it reflects the way our brains works... it's science... we all love stories! And we all use stories to make sense of the world around us.</p> 
					<p>Talk about practical - The Hero's Journey in 7 steps... with homework and a framework.</p>
					
					<hr>
					
					<h3>The Storybrand Framework</h3>
					<div class="text-center mt-5">
						<img src="~/images/blog/storybrand-framework.png" alt="Storybrand Framework" class="img-fluid">
						<figcaption>Illustration of Donald Miller's Storybrand Framework</figcaption>
					</div>
				</section>
				
				<section>
					<h2>Adaption for Branding...?</h2>
					<p>To tell a great brand story, we must first understand the foundation of storytelling.</p>
					<p>Most people know that every story has a beginning, middle and end. What most people don’t know is what goes where.</p>
					<p>In brand storytelling, we can start utilising theses frameworks to leverage compelling narratives, placing the customer at the heart of the story, stage it with emotional visual media experiences and effectively distribute it across our buyer's journey to empower their lives and drive business results.</p>
					<p>May these story architects guide us on our journey of telling a great story.</p>

					
					<blockquote class="blockquote">
						<p class="mb-0">"Anyone can be a hero if you tell the (brand) story right..."</p>
					</blockquote>
				</section>
				
	        </div>
	    </div>
	    
	    
	    <div class="row justify-content-center mt-5">
	        <div class="col-lg-8 col-md-10 col-xs-12 blog-copy">
		        <h6>References</h6>
		        <ul class="references fa-ul">
			        <li>
			        	<span class="fa-li"><i class="fas fa-check"></i></span>
			        	Mythic Worlds, Modern Words: Joseph Campbell on the Art of James Joyce (The Collected Works of Joseph Campbell)
			        </li>
			        <li>
			        	<span class="fa-li"><i class="fas fa-check"></i></span>
						Essays on a Science of Mythology - Carl G. Jung
			        </li>
			        <li>
			        	<span class="fa-li"><i class="fas fa-check"></i></span>
						The Artist's Journey: The Wake of the Hero's Journey and the Lifelong Pursuit of Meaning - Steven Pressfield
			        </li>
			        <li>
			        	<span class="fa-li"><i class="fas fa-check"></i></span>
						Building a StoryBrand: Clarify Your Message So Customers Will Listen by Donald Miller
			        </li>
		        </ul>
	        </div>
	    </div>
	</div>
</section>

<div class="section pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10 col-xs-12">
				<div id="disqus_thread"></div>
				<script>
					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
					/*
					var disqus_config = function () {
					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://brandflex.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/vendors/simpleParallax/simpleParallax.min.js"></script>
	<script>
		// Parallax images
		var image = document.getElementsByClassName('parallax');
		new simpleParallax(image);
	</script>
	<script id="dsq-count-scr" src="//brandflex.disqus.com/count.js" async></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ee9e6e2fd0fb14f"></script>
}

@section Modals {
	
}