@{
    ViewData["Title"] = "Brand Strategy";
    ViewBag.MetaDescription = "Home Page Description";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Title"]</h2>


<section class="wrap vh-100">
	<div class="content center-center">
		<h1 class="display-1">Social media,<br>content creation.</h1>
		<div class="max-width mx-auto mt-4">
			<div class="">We provide social media content creation services for brands that want remarkable results from their media investment.</div>
		</div>
		<a href="#contact" class="btn btn-primary mt-4">Get in touch</a>
	</div>
</section>


<section class="section strategy">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				
				<ul class="nav nav-pills" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="core-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="true">Brand Core</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="expression-tab" data-toggle="tab" href="#expression" role="tab" aria-controls="expression" aria-selected="false">Brand Expression</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="surface-tab" data-toggle="tab" href="#surface" role="tab" aria-controls="surface" aria-selected="false">Brand Surface</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="core" role="tabpanel" aria-labelledby="core-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Heart</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-3">
										<div class="card">Purpose</div>
									</div>
									<div class="col-3">
										<div class="card">Vision</div>
									</div>
									<div class="col-3">
										<div class="card">Mission</div>
									</div>
									<div class="col-3">
										<div class="card">Values</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Position</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-3">
										<div class="card">Audience</div>
									</div>
									<div class="col-3">
										<div class="card">Competitors</div>
									</div>
									<div class="col-3">
										<div class="card">Difference</div>
									</div>
									<div class="col-3">
										<div class="card">Niche</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="expression" role="tabpanel" aria-labelledby="expression-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Personality</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-6">
										<div class="card">Tone &amp; Voice</div>
									</div>
									<div class="col-6">
										<div class="card">Archetype</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Communication</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-6">
										<div class="card">Messaging</div>
									</div>
									<div class="col-6">
										<div class="card">Story</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="surface" role="tabpanel" aria-labelledby="surface-tab">
						<div class="row">
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Visuals</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-4">
										<div class="card">Brand</div>
									</div>
									<div class="col-4">
										<div class="card">Identity</div>
									</div>
									<div class="col-4">
										<div class="card">Logo</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row box">
									<div class="col-12">
										<div class="card">Brand Presence</div>
									</div>
								</div>
								<div class="row box">
									<div class="col-4">
										<div class="card">Implement</div>
									</div>
									<div class="col-4">
										<div class="card">Track</div>
									</div>
									<div class="col-4">
										<a href="/social-media-content" class="card">Social Media</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>


<partial name="Case" />


@section Scripts {

}

@section Modals {
	
}