@{
    ViewData["Title"] = "Brandbook";
    ViewBag.MetaDescription = "Get started with Brandflex Brandbook, a comprehensive framework for building a unique brand from scratch.";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<div class="h1">📓</div>
				<h1 class="display-1 mt-4">@ViewData["Title"].</h1>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="box box-ii bg-black text-white">
					<div class="left">
						<h2>Get the Branflex Brandbook</h2>
						<p><b>@ViewBag.MetaDescription</b></p>
						<partial name="SubscribeBrandbook" />
					</div>
					<div class="right"></div>
				</div>
				<p><small>We use Mailchimp as our marketing platform. By clicking to download, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more</a> about Mailchimp's privacy practices here.</small></p>
			</div>
		</div>
	</div>
</section>







@section Scripts {

}

@section Modals {
	
}