@{
    ViewData["Title"] = "Your brand discovered";
    ViewBag.MetaDescription = "We need to understand who you are and who you serve and this Brand Discovery Process will act as a blueprint to help you communicate that and align all other systems with your business strategy.";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]...🔥</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=discovery" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Brand Discovery Call</a>
			</div>
		</div>
	</div>
</section>


<section class="process">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 text-center">
				<a href="#core" class="card bg-light no-shadow">
					<div class="card-body text-dark">
						<h3>1. Brand Core</h3>
						<p class="lead">A set of beliefs that<br>influence everything you do.</p>
						<div class="h5"><i class="fad fa-heart mr-1"></i>Heart &amp; <i class="fad fa-map-marker mr-1"></i>Position</div>
					</div>
				</a>
            </div>
           <div class="col-md-4 text-center">
				<a href="#expression" class="card bg-light no-shadow">
					<div class="card-body text-dark">
                    	<h3>2. Brand Expression</h3>
                    	<p class="lead">A clear voice that engages<br>with your customers.</p>
                    	<div class="h5"><i class="fad fa-comment mr-1"></i>Character &amp; <i class="fad fa-grin-tongue-wink mr-1"></i>Essence</div>
					</div>
                </a>
            </div>
            <div class="col-md-4 text-center">
				<a href="#surface" class="card bg-light no-shadow last">
					<div class="card-body text-dark">
                    	<h3>3. Brand Surface</h3>
						<p class="lead">An identity that is visually<br>recognisable and memorable.</p>
						<div class="h5"><i class="fad fa-palette mr-1"></i>Identity &amp; <i class="fad fa-laptop mr-1"></i>Presence</div>
					</div>
                </a>
            </div>
		</div>
	</div>
</section>


<section id="core" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-2">1. Brand Core</h2>
				<p class="lead">Set of beliefs that influence everything you do.</p>
				<p><b>Brand Heart</b> (set of beliefs that influence everything you do) and your <b>Brand Position</b> (where you fit in and to whom you are talking to). A powerful tool to align every aspect of your business, from your product offerings to the content you create.</p>
				<h3 class="display-4">Discovery</h2>
				<p class="lead">Through an in-person 5-8 hour session, we guide your team through a strategic framework to:</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Articulate your core identity</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Find your Audience Persona</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Identify gaps in the market</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Differentiate yourself</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Find your niche</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=discovery" target="_blank" class="btn btn-primary mt-4 gtm-brand-call"><i class="fas fa-headset mr-2"></i>Book a Free Brand Discovery Call</a>
			</div>
			<div class="col-md-4 ml-auto hidden-md-down">
				<ul id="sceneI" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="core"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="expression" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-4 hidden-md-down">
				<ul id="sceneII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="story"></div></li>
				</ul>
			</div>
			<div class="col-md-8 col-lg-6 ml-auto">
				<h2 class="display-2">2. Brand Expression</h2>
				<p class="lead">A clear voice that engages with your customers.</p>
				<p><b>Brand Character</b> (how to express who you are) and your <b>Brand Story</b> (how to talk about who you are). Identifying your personality. Articulate your value proposition, tagline, and messaging pillars to help you tell a consistent brand story.</p>
				<h3 class="display-4">Messaging &amp; Story</h2>
				<p class="lead">Translate your key message into consistent content.</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Find your brand personality</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Tell your brand story</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Craft that perfect elevator pitch</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Communicate your USP</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Find your audience and speak to them</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=discovery" target="_blank" class="btn btn-primary mt-4 gtm-brand-call"><i class="fas fa-headset mr-2"></i>Book a Free Brand Discovery Call</a>
			</div>
		</div>
	</div>
</section>

<section id="surface" class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-2">3. Brand Surface</h2>
				<p class="lead">An identity that is visually recognisable and memorable.</p>
				<p><b>Brand Identity</b> (the visual expression of your brand) represent a brand's identity and should support the brand as a whole. <b>Brand presence</b> (capturing the attention of the targeted audience) is establishing your brand in the lives of your consumers.</p>
				<h3 class="display-4">Design deliverables</h2>
				<p>From a recognisable logo, to a memorable brand.</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Consistent brand guidelines</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>A logo that identifies your business</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Brand identity for visual &amp; sensual devices</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Your sign on all stationary</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Marketing &amp; Social guidelines</li>
		        </ul>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=discovery" target="_blank" class="btn btn-primary mt-4 gtm-brand-call"><i class="fas fa-headset mr-2"></i>Book a Free Brand Discovery Call</a>
			</div>
			<div class="col-md-4 ml-auto hidden-md-down">
				<ul id="sceneIII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="identity"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>




<partial name="FAQ" />

<partial name="Process" />

<partial name="Funnel" />

@section Scripts {
	<script src="~/vendors/parallax/parallax.js"></script>
	<script>
		var sceneI = document.getElementById('sceneI');
		var parallax = new Parallax(sceneI);
		
		var sceneII = document.getElementById('sceneII');
		var parallax = new Parallax(sceneII);
		
		var sceneIII = document.getElementById('sceneIII');
		var parallax = new Parallax(sceneIII);	
	</script>
}

@section Modals {
	
}