@{
    ViewData["Title"] = "Brand Discovery";
    ViewBag.MetaDescription = "We need to understand who you are and who you serve and this Brand Discovery Process will act as a blueprint to help you communicate that and align all other systems with your business strategy.";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="h1">🤓</div>
				<h1 class="display-1 mt-4">@ViewData["Title"].</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
			</div>
		</div>
	</div>
</section>



<partial name="Funnel" />

@section Scripts {

}

@section Modals {
	
}