@{
    ViewData["Title"] = "Brand Story";
    ViewBag.MetaDescription = "Home Page Description";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="h1">🤗</div>
				<h1 class="display-1 mt-4">@ViewData["Title"].</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
			</div>
		</div>
	</div>
</section>


<partial name="Funnel" />

@section Scripts {

}

@section Modals {
	
}