@{
    ViewData["Title"] = "Contact me";
    ViewBag.MetaDescription = "Home Page Description";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]...🔥</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="card mb-5">
					<div class="card-body text-center">
						<img src="~/images/meRed.png" height="150px" class="rounded-circle">
						<h4 class="mt-4">Werner Griesel</h4>
						<p>Drop me a quick email or book a call if you want to work together.</p>
						<p>Mon-Fri  <b>9 AM – 7 PM</b> (GMT +2)</p>
						
						<div class="mt-4 h4">Get in touch</div>
						<a href="mailto:interact@brandflex.co" class="btn btn-sm btn-light btn-block"><i class="fal fa-envelope mr-1 text-primary"></i>interact@brandflex.co</a>
						<a href="tel:+270824449937" class="btn btn-sm btn-light btn-block"><i class="fal fa-phone mr-1 text-primary"></i>+27 (0)82 444 99 37</a>
						<a href="/book-a-call" class="btn btn-sm btn-light btn-block"><i class="fal fa-headphones-alt mr-1 text-primary"></i>Schedule a Zoom Call</a>
						
						<div class="mt-4 h4">Follow for more</div>
						<div class="social mt-2">
							<a href="https://www.linkedin.com/in/wernergriesel/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
							<a href="https://www.instagram.com/brandflex.co/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
							<a href="https://www.facebook.com/BrandflexCo" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
							<a href="https://twitter.com/BrandFlexCo" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7 ml-auto">
				<div class="card mb-4">
					<div class="card-body">
						<h1 class="h2 mb-4">Quick Contact</h1>
						<partial name="Subscribe" />
					</div>
				</div>
				<p><small>We use Mailchimp as our marketing platform. By clicking to download, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more</a> about Mailchimp's privacy practices here.</small></p>
				<div class="mt-5">
					<partial name="Calendly" />
				</div>
			</div>
		</div>
	</div>
</section>








@section Scripts {

}

@section Modals {
	
}