@{
    ViewData["Title"] = "Content Workshop";
    ViewBag.MetaDescription = "Home Page Description";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Title"]</h2>

<section class="wrap vh-100">
	<div class="content center-center">
		<h1 class="display-1">Social media,<br>content creation.</h1>
		<div class="max-width mx-auto mt-4">
			<div class="">We provide social media content creation services for brands that want remarkable results from their media investment.</div>
		</div>
		<a href="#contact" class="btn btn-primary mt-4">Get in touch</a>
	</div>
</section>

<partial name="Case" />

@section Scripts {

}

@section Modals {
	
}