@{
    ViewData["Title"] = "Home Page";
    ViewBag.MetaDescription = "Home Page Description";
}

<section class="vh-100 intro">
	
	<section class="wrap vh-100">
		<div class="content center-center">
			<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
			<h1 class="display-1 mt-4 text-white">Your brand story<br>just better🔥</h1>
			<div class="max-width mx-auto mt-4 text-white">
				<div>Brandflex helps your business develop a character and connect to your ideal audience through <b>Technology</b>, <b>Data</b> and <b>Storytelling</b>.<br>How can we help you?</div>
			</div>
			<a href="https://calendly.com/brandflex/branding" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a FREE Brand Discovery Call</a>
		</div>
	</section>
	
	<div id="container">
		<video id="background_video" loop muted></video>
		<div id="video_cover"></div>
		<div id="overlay"></div>
		<div id="video_controls">
			<span id="play"><img src="play.png"></span>
			<span id="pause"><img src="pause.png"></span>
		</div>
	</div>
	
</section>

<section class="section bg-black">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 text-center">
				
			</div>
		</div>
	</div>
</section>


<section class="services section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="display-1 my-4">How can we help🔥</h2>
			</div>
		</div>
	</div>
	<div id="trinity">
	    <div id="sidebar" class="tv-screen">
	        <div class="tv-inner">
		        <div class="tv-hardware">
		        	<img src="~/images/screen.png" class="img-fluid">
		        	<div class="tv-container">
			        	<div class="screenI">
				        	<img src="~/images/home/brand.jpg" class="img-fluid">
			        	</div>
			        	<div class="screenII">
				        	<img src="~/images/home/brand.jpg" class="img-fluid">
				        </div>
			        	<div class="screenIII">
				        	<img src="~/images/home/brand.jpg" class="img-fluid">
			        	</div>
		        	</div>
		        </div>
	        </div>
	    </div>
	    <div id="content" class="tv-content">
		    <div class="space"></div>
	        <div id="imgI" class="part mt-0">
		        <h3 class="mb-5 display-4">Brand Discovery.</h3>
		        <p>Your creative brand can’t reach a higher level without a comprehensive brand messaging guide in place. It’s the driving force in reaching your target audience. It clearly positions your brand as an expert in a crowded market, by incorporating clear messaging and brand storytelling.</p>
		        <a href="https://calendly.com/brandflex/branding" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Brand Discovery Call</a>
	        </div>
	        <div id="imgII" class="part">
		        <h3 class="mb-5 display-4">Social Media Content.</h3>
		        <p>Book more clients and grow organically on Social Platforms.</p>
		        <a href="https://calendly.com/brandflex/branding" target="_blank" class="btn btn-black mt-4"><i class="fas fa-headset mr-2"></i>Upgrade your Social Media game</a>
	        </div>
	        <div id="imgIII" class="part mb-0">
		        <h3 class="mb-5 display-4">Tell your Story.</h3>
		        <p>Yuccie quinoa irony paleo pork belly post-ironic lyft taxidermy meggings try-hard selvage. Kogi pok pok leggings mlkshk, pinterest mustache cronut tumblr lumbersexual coloring book roof party. Pop-up chillwave dreamcatcher la croix.</p>
		        <a href="https://calendly.com/brandflex/branding" target="_blank" class="btn btn-black mt-4"><i class="fas fa-headset mr-2"></i>Book a Free Discovery Call</a>
	        </div>
	    </div>
	</div>
</section>



<partial name="Case" />

<section class="synergy">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="display-4 mb-5">Brand Discovery🔥</h2>
				
				<div class="circle-holder">
	                <div class="circle circle_one"></div>
	                <div class="circle circle_two"></div>
	                <div class="circle circle_three"></div>
	                <div class="circle circle_four"></div>
	                <div class="circle circle_five">
	                    <span class="text text-white">
	                     	<div class="h2 m-0">New<br>Brand</div>
	                    </span>
	                </div>
	                <div class="s_promo_info">
	                    <a href="/internal-branding" class="group-name item_one go-go">
	                        <div class="text">
		                        <i class="fad fa-heart fa-2x"></i>
	                            <p>Internal Branding</p>
	                        </div>
	                    </a>
	                    <a href="/audience-persona" class="group-name item_two go-go">
	                        <div class="text">
		                        <i class="fad fa-atlas fa-2x"></i>
	                            <p>Audience Persona</p>
	                        </div>
	                    </a>
	                    <a href="/competitive-profile" class="group-name item_three go-go">
	                        <div class="text">
		                        <i class="fad fa-desktop fa-2x"></i>
	                            <p>Competitive Analysis</p>
	                        </div>
	                    </a>
	                    <a href="/differentiate-strategy" class="group-name item_four go-go">
	                        <div class="text">
		                        <i class="fad fa-book-spells fa-2x"></i>
	                            <p>Position Strategy</p>
	                        </div>
	                    </a>
	                    <a href="/human-persona" class="group-name item_five go-go">
	                        <div class="text">
		                        <i class="fad fa-magic fa-2x"></i>
	                            <p>Human Persona</p>
	                        </div>
	                    </a>
	                    <a href="/tagline" class="group-name item_six go-go">
	                        <div class="text">
		                        <i class="fad fa-code-branch fa-2x"></i>
		                        <p>Tagline</p>
	                        </div>
	                    </a>
	                    <a href="/brand-voice" class="group-name item_seven go-go">
	                        <div class="text">
		                        <i class="fad fa-comment-alt-smile fa-2x"></i>
		                        <p>Presence Strategy</p>
	                        </div>
	                    </a>
	                    <a href="/core-message-framework" class="group-name item_eight go-go">
	                        <div class="text">
	                            <i class="fad fa-alicorn fa-2x"></i>
	                            <p>Message Framework</p>
	                        </div>
	                    </a>
	                    <a href="/storytelling-framework" class="group-name item_nine go-go">
	                        <div class="text">
		                        <i class="fad fa-users-crown fa-2x"></i>
	                            <p>Story Framework</p>
	                        </div>
	                    </a>
	                    <a href="/brand-identity-system" class="group-name item_ten go-go">
	                        <div class="text">
		                        <i class="fad fa-users-crown fa-2x"></i>
	                            <p>Brand Identity System</p>
	                        </div>
	                    </a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</section>

<partial name="Process" />

<partial name="Testimonials" />

@section Scripts {
	<script src="~/vendors/bideo/bideo.js"></script>
	<script src="~/vendors/bideo/main.js"></script>
	<script src="~/vendors/in-view/in-view.min.js"></script>
	<script>
	   inView('.go-go')
	    .on('enter', el => el.classList.add('in-view'));
	    //.on('exit', el => el.classList.remove('in-view'));
    </script>
    <script src="~/vendors/scrollMove/scrollMove.js"></script>
	<script>
	    $(function () {
	        scrollMove('.items',60 ,1 );
	    })
	</script>
	<script src="~/vendors/sticky/sticky-sidebar.js"></script>
	<script>
	    var sidebar = new StickySidebar('#sidebar', {
	        containerSelector: '#trinity',
	        innerWrapperSelector: '.tv-inner',
	        topSpacing: 100,
	        bottomSpacing: 100
	    });
	</script>
	
	<script>
		$.fn.isInViewport = function() {
			var elementTop = $(this).offset().top;
			var elementBottom = elementTop + $(this).outerHeight();
			var viewportTop = $(window).scrollTop();
			var viewportBottom = viewportTop + $(window).height();
			return elementBottom > viewportTop && elementTop < viewportBottom;
		};
		$(window).on('resize scroll', function() {
			$('.part').each(function() {
				var activeColor = $(this).attr('id');
				if ($(this).isInViewport()) {
					$('.tv-container').addClass(activeColor);
				} else {
					$('.tv-container').removeClass(activeColor);
				}
			});
		});	
	</script>
	<script src="~/vendors/scrollMove/scrollMove.js"></script>
	<script>
	   scrollMove('.items',60 ,1 );
    </script>
}

@section Modals {
	
}