@{
    ViewData["Title"] = "Your brand story just better";
    ViewBag.MetaDescription = "Brandflex helps your business develop a character and connect to your ideal audience through Technology, Data and Storytelling. How can we help you?";
}


<section class="vh-100">
	<div class="wrap">
		<div class="content center-center">
			<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
			<h1 class="display-1 mt-4">Anyone can be a hero if you tell the (brand) story right..🔥</h1>
			<div class="max-width mx-auto mt-4">
				<div class="">@ViewBag.MetaDescription</div>
			</div>
			<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=book_call" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free <span>Brand Discovery</span> Call</a>
		</div>
	</div>
</section>

<partial name="Services" />

<partial name="Clients" />

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="display-1 my-4">How can we help?</h2>
			</div>
		</div>
	</div>
</section>

<section class="section service">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="mb-4 d-block d-lg-none">
					<img src="~/images/about/work.png" class="img-fluid parallax"> 
				</div>
				<h3 class="mb-4 display-4">Discovery.</h3>
		        <p>We need to understand who you are and who you serve and this <b>Brand Discovery Process</b> will act as a blueprint to help you communicate that and align all other systems with your business strategy.</p>
		        <p>Through an in-person 5-8 hour session, we guide your team through a strategic framework to:</p>
		        <ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Articulate your core identity</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Cultivate authentic trust</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Differentiate yourself</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Keep your team on the same page</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Better company culture</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Foster innovation</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Ensure company growth</li>
		        </ul>
		        <p>By the end, you’ll have robust and implementable <b>brand guidelines</b>, to put your brand out into the world.</p>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=discovery" target="_blank" class="btn btn-primary mt-4"><i class="fas fa-headset mr-2"></i>Book a Free<span> Brand Discovery</span> Call</a>
		        <div class="mt-3">
		        	<a href="/brand-discovery" class="more">Learn more<i class="fas fa-arrow-circle-right ml-2"></i></a>
		        </div>
			</div>
			<div class="col-lg-6 ml-auto d-none d-lg-block relative">
				<img src="~/images/about/work.png" class="img-fluid parallax mt-5">
				<img class="circle-badge" src="~/images/about/brand-discovery.svg">
			</div>
		</div>
	</div>
</section>

<section class="section service">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="mb-4 d-block d-lg-none">
					<img src="~/images/home/social.jpg" class="img-fluid parallax"> 
				</div>
				<h3 class="mb-4 display-4">Social Content.</h3>
		        <p>We know there’s more to <b>social media content creation</b> and editing than meets the eye. From choosing the perfect image to representing your brand, to writing captivating updates with the perfect hashtag and tone of voice, we got you covered.</p>
		        <ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Creative Strategy</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Premium carousels</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>High quality content</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Identify and set goals</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Plan your social content</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Build a content calendar</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Promote and distribute your content</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Measure results</li>
		        </ul>
		        <p>Effectively planning a <b>social media content strategy</b> is an ongoing cycle, but it doesn’t have to be overwhelming. Book more clients &amp; grow organically on social media platforms.</p>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=social_content" target="_blank" class="btn btn-black mt-4 gtm-social-call"><i class="fas fa-headset mr-2"></i>Upgrade your Social Media<span> game</span></a>
		        <div class="mt-3">
		        	<a href="/social-media" class="more">Learn more<i class="fas fa-arrow-circle-right ml-2"></i></a>
		        </div>
			</div>
			<div class="col-lg-6 ml-auto d-none d-lg-block relative">
				<img src="~/images/home/social.jpg" class="img-fluid parallax mt-5">
				<img class="circle-badge" src="~/images/about/social-content.svg">
			</div>
		</div>
	</div>
</section>

<section class="section service">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="mb-4 d-block d-lg-none">
					<img src="~/images/home/story.jpg" class="img-fluid parallax"> 
				</div>
				<h3 class="mb-4 display-4">Brand Story.</h3>
		        <p>Your brand <b>Story &amp; Message Framework</b> lets you communicate more than what you do. It helps you show people what you believe. When you articulate your values, you make it easier for your customers to align themselves with you.</p>
		        <ul class="fa-ul">
					<li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Create your brand story</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Stand out from the crowd</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Humanise your brand</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Slam dunk that elevator pitch</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Share your values</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Clarify your call to actions</li>
			        <li><span class="fa-li"><i class="fad fa-check text-primary"></i></span>Align your messages everywhere</li>
		        </ul>
		        <p>By the end, you’ll be able to translate your <b>brand message</b> consistently across all platforms and engage customers.</p>
		        <a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=brand_story" target="_blank" class="btn btn-dark mt-4 gtm-story-call"><i class="fas fa-headset mr-2"></i>Book a Free<span> Discovery</span> Call</a>
		        <div class="mt-3">
		        	<a href="/brand-story" class="more">Learn more<i class="fas fa-arrow-circle-right ml-2"></i></a>
		        </div>
			</div>
			<div class="col-lg-6 ml-auto d-none d-lg-block relative">
				<img src="~/images/home/story.jpg" class="img-fluid parallax mt-5">
				<img class="circle-badge" src="~/images/about/brand-story.svg">
			</div>
		</div>
	</div>
</section>

@*
<partial name="SingleCase" />
*@

<partial name="Process" />

<partial name="Testimonials" />

<partial name="Funnel" />


@section Scripts {
	<script src="~/vendors/simpleParallax/simpleParallax.min.js"></script>
	<script>
		// Parallax images
		var image = document.getElementsByClassName('parallax');
		new simpleParallax(image);
	</script>
	<script src="~/vendors/slick/slick.min.js"></script>
	<script>
		$('.testimonials').slick();
	</script>
}

@section Modals {
	
}



