@{
    ViewData["Title"] = "Social Media Marketing";
    ViewBag.MetaDescription = "Home Page Description";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Title"]</h2>

<section class="wrap vh-100">
	<div class="content center-center">
		<h1 class="display-1">Social media,<br>content creation.</h1>
		<div class="max-width mx-auto mt-4">
			<div class="">We provide social media content creation services for brands that want remarkable results from their media investment.</div>
		</div>
		<a href="#contact" class="btn btn-primary mt-4">Get in touch</a>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="display-4 mb-5">The Trinity</h2>
				<div class="triangle-holder">
					<a href="/" class="box-name item_one go-go">
                        <div class="text">
	                        <i class="fad fa-laptop fa-2x"></i>
	                        <h4>Discovery</h4>
                            <p>You get a clear understanding of how your company’s goals and audience’s needs can be met with compelling social media content.</p>
                        </div>
                    </a>
                    <a href="/" class="box-name item_two go-go">
                        <div class="text">
	                        <i class="fad fa-laptop fa-2x"></i>
	                        <h4>Architecture</h4>
                            <p>You get a social media content blueprint that defines your content themes of focus with concrete examples and concepts.</p>
                        </div>
                    </a>
                    <a href="/" class="box-name item_three go-go">
                        <div class="text">
	                        <i class="fad fa-laptop fa-2x"></i>
	                        <h4>Content</h4>
                            <p>You get monthly batches of timely, campaign, and evergreen content that’s tailored for your goal and channel.</p>
                        </div>
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 class="display-4">Instagram</h2>
				<p class="lead">Picture your company.</p>

				<p>People come to Instagram to learn, laugh, and dream, so your Instagram content strategy needs to be thoughtful. Consider the formats:</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Short-form vertical Stories with their own creative language</li>
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Feed posts that form cohesive brand grids</li>
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Live and longer video you can replay later (IGTV)</li>
				</ul>
				<p>With your input, we’ll create eye-catching stories and posts that are worth a thousand words.</p>
			</div>
			<div class="col-md-6 text-center">
				<img src="~/images/kit.png" class="align-self-center img-fluid" alt="...">
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-center">
				<img src="~/images/kit.png" class="align-self-center img-fluid" alt="...">
			</div>
			<div class="col-md-6">
				<h2 class="display-4">Facebook</h2>
				<p class="lead">Keep fans in the loop.</p>

				<p>Platforms come and go. Facebook has lasting power. We can help you get friendly with your Facebook supporters using organic content that still earns reach—like live streams, personal video, and events.</p>

				<p>Is your presence mostly paid? No problem.We have been designing Facebook ads for 8 years and can skip right to the top-performing formats and elements.</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 class="display-4">LinkedIn</h2>
				<p class="lead">Take your audience seriously.</p>

				<p>On LinkedIn, your followers are invested in their career. We’ll produce content that elevates their status, solves their problems, and earns their trust. LinkedIn has its own set of rules (where else do PDFs perform well?). We’ll help you master them.</p>
			</div>
			<div class="col-md-6 text-center">
				<img src="~/images/kit.png" class="align-self-center img-fluid" alt="...">
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-center">
				<img src="~/images/kit.png" class="align-self-center img-fluid" alt="...">
			</div>
			<div class="col-md-6">
				<h2 class="display-4">Twitter</h2>
				<p class="lead">Start a conversation.</p>

				<p>Lots of businesses flinch at the word “Twitter” – but that doesn’t have to be you. Together, we’ll tune your voice, find your niche, and produce content that starts 1-to-1 discussion. The good kind.</p>
			</div>
		</div>
	</div>
</section>


<partial name="Case" />


@section Scripts {

}

@section Modals {
	
}