@{
    ViewData["Title"] = "Social Content";
    ViewBag.MetaDescription = "We provide social media content creation services for brands that want remarkable results from their media investment";
}

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="~/images/logo/brand-brandmark-color.svg" height="60px">
				<h1 class="display-1 mt-4">@ViewData["Title"]...🔥</h1>
				<div class="max-width mx-auto mt-4">
					<div class="">@ViewBag.MetaDescription</div>
				</div>
				<a href="https://calendly.com/brandflex/branding?utm_source=website&utm_medium=button&utm_campaign=social_content" target="_blank" class="btn btn-black mt-4 gtm-social-call"><i class="fas fa-headset mr-2"></i>Upgrade your Social Media game</a>
			</div>
		</div>
	</div>
</section>


<section class="process">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body text-dark">
						<h3>1. Discovery</h3>
						<p class="lead">You get a clear understanding of how your company’s goals and audience’s needs can be met with compelling social media content.</p>
					</div>
				</div>
            </div>
           <div class="col-md-4 text-center">
				<div class="card bg-light no-shadow">
					<div class="card-body text-dark">
                    	<h3>2. Architecture</h3>
                    	<p class="lead">You get a social media content blueprint that defines your content themes of focus with concrete examples and concepts.</p>
					</div>
                </div>
            </div>
            <div class="col-md-4 text-center">
				<div class="card bg-light no-shadow last">
					<div class="card-body text-dark">
                    	<h3>3. Content</h3>
						<p class="lead">You get monthly batches of timely, campaign, and evergreen content that’s tailored for your goal and channel.</p>
					</div>
                </div>
            </div>
		</div>
	</div>
</section>



<section class="section">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-4">Instagram</h2>
				<p class="lead">Picture your company.</p>

				<p>People come to Instagram to learn, laugh, and dream, so your Instagram content strategy needs to be thoughtful. Consider the formats:</p>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Short-form vertical Stories with their own creative language</li>
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Feed posts that form cohesive brand grids</li>
					<li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Live and longer video you can replay later (IGTV)</li>
				</ul>
				<p>With your input, we’ll create eye-catching stories and posts that are worth a thousand words.</p>
			</div>
			<div class="col-md-4 ml-auto hidden-md-down">
				<ul id="sceneI" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="core"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-4 hidden-md-down">
				<ul id="sceneII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="core"></div></li>
				</ul>
			</div>
			<div class="col-md-8 col-lg-6 ml-auto">
				<h2 class="display-4">Facebook</h2>
				<p class="lead">Keep fans in the loop.</p>

				<p>Platforms come and go. Facebook has lasting power. We can help you get friendly with your Facebook supporters using organic content that still earns reach—like live streams, personal video, and events.</p>

				<p>Is your presence mostly paid? No problem.We have been designing Facebook ads for 8 years and can skip right to the top-performing formats and elements.</p>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-lg-6">
				<h2 class="display-4">LinkedIn</h2>
				<p class="lead">Take your audience seriously.</p>

				<p>On LinkedIn, your followers are invested in their career. We’ll produce content that elevates their status, solves their problems, and earns their trust. LinkedIn has its own set of rules (where else do PDFs perform well?). We’ll help you master them.</p>
			</div>
			<div class="col-md-4 ml-auto hidden-md-down">
				<ul id="sceneIII" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="core"></div></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-4 hidden-md-down">
				<ul id="sceneIV" class="scene mt-5"
					data-friction-x="0.4"
					data-friction-y="0.4"
					data-scalar-x="30"
					data-scalar-y="30">
					<li class="layer" data-depth="0.10"><div class="splash1"></div></li>
					<li class="layer" data-depth="0.40"><div class="splash2"></div></li>
					<li class="layer" data-depth="0.70"><div class="core"></div></li>
				</ul>
			</div>
			<div class="col-md-8 col-lg-6 ml-auto">
				<h2 class="display-4">Twitter</h2>
				<p class="lead">Start a conversation.</p>

				<p>Lots of businesses flinch at the word “Twitter” – but that doesn’t have to be you. Together, we’ll tune your voice, find your niche, and produce content that starts 1-to-1 discussion. The good kind.</p>
			</div>
		</div>
	</div>
</section>

@*
<partial name="SingleCase" />

<partial name="Process" />
*@

<partial name="Funnel" />

@section Scripts {
	<script src="~/vendors/parallax/parallax.js"></script>
	<script>
		var sceneI = document.getElementById('sceneI');
		var parallax = new Parallax(sceneI);
		
		var sceneII = document.getElementById('sceneII');
		var parallax = new Parallax(sceneII);
		
		var sceneIII = document.getElementById('sceneIII');
		var parallax = new Parallax(sceneIII);
		
		var sceneIII = document.getElementById('sceneIV');
		var parallax = new Parallax(sceneIV);	
	</script>
}

@section Modals {
	
}
