.about-intro {
	position: relative;
	padding: 180px 0 120px;
	.display-1 {
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	.circle-badge {
		position: absolute;
		right: -1rem;
		bottom: -2rem;
		width: 100px;
	}
}

.work {
	.display-4 {
		//font-size: 8vw;
		position: relative;
		z-index: 3;
	}
	.circle-badge {
		position: absolute;
	    left: -1rem;
	    top: -2rem;
		width: 100px;
		z-index: 4;
	}
}

.experience {
	.display-1 {
		font-size: 9vw;
	}
	.circle-badge {
		position: absolute;
	    right: -1rem;
	    top: -2rem;
		width: 100px;
		z-index: 4;
	}
	.position {
		margin-bottom: 1rem;
		border-radius: $border-radius;
		background: rgba($white,.7);
		padding: .5rem;
		z-index: 3;
		position: relative;
		&.swot {
			margin-left: 2rem;
			color: $gray-500;
		}
		.date {
			margin-bottom: .5rem;
		}
		h4 {
			margin-bottom: .5rem;
		}
		a {
			&:after {
				font-family: "Font Awesome 5 Pro";
		        font-weight: 900;
		        content: "\f178";
		        position: relative;
		        left: 1rem;
		        transition: $transition-base;
			}
			&:hover {
				&:after {
					left: 1.5rem;
				}
			}
		}
	}
}

.toolbox {
	padding: 120px 0;
	.display-1 {
		font-size: 9vw;
	}
	.toolbox-items {
		i {
			color: $primary;
		}
	}
	.platforms {
		display: flex;
		flex-wrap: wrap;
		div {
			flex-basis: 16.6666667%;
			max-width: 16.6666667%;
			flex: 0 1 100%;
			@include media-breakpoint-up(md) {
				flex-basis: 10%;
				max-width: 10%;
			}
			img {
				filter: grayscale(0);
				&:hover {
					filter: grayscale(100%);
				}
			}
		}
	}
}

.marquee {
	height: 60px;
	width: 100%;
	position: relative;
	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		width: 25%;
		z-index: 2;
	}
	&:after {
		right: 0;
		background: linear-gradient(90deg, transparent, $body-bg);
	}
	&:before {
		left: 0;
		background: linear-gradient(90deg, $body-bg, transparent);
	}
	.marquee-inner {
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    overflow: hidden;
	    .items {
		    height: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		    font-size: 0;
		    .item {
				display: inline-block;
				margin: 0;
				width: 100px;
				height: 100%;
				position: relative;
		    }
		}
	}
}

.me {
	.heading {
		position: relative;
		z-index: 2;
		h3 {
			font-size: 10vw;
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	.circle-badge {
		position: absolute;
		right: -1rem;
		top: -2rem;
		width: 100px;
		z-index: 4;
	}
}

.circle-badge {
	-webkit-animation: rotation 10s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}




.insta-section {
	position: relative;
	background: radial-gradient($dark, $black);
	@include media-breakpoint-down(lg) {
		padding-bottom: 0;
	}
	.lead {
		font-weight: 600;
	}
	.insta-img {
		display: none;
		@include media-breakpoint-up(lg) {
			margin-top: -200px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%) rotate(5deg);
			display: block;
		}
	}
	&:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-image: url("../images/base-body-overlay.gif");
	    opacity: 0.06;
	    pointer-events: none;
	    z-index: 2;
	}
	* {
		z-index: 3;
	}
}