.intro {
	.wrap {
		position: relative;
		z-index: 3;
	}
	.lead {
		font-size: 1rem;
		font-weight: 600;
	}
}

.service {
	.circle-badge {
		position: absolute;
		right: -1rem;
		top: -2rem;
		width: 100px;
	}
}

.contact-card {
	.circle-badge {
		position: absolute;
		right: -1rem;
		top: -2rem;
		width: 100px;
	}
}


#cookieConsent {
	position: fixed;
	bottom: 1rem;
	width: 80%;
	max-width: 500px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(29, 29, 31, 0.72);
	backdrop-filter: saturate(180%) blur(20px);
	color: $white;
	z-index: 2000;
	font-size: 80%;
	padding: 1rem 2.5rem 1rem 1rem;
	.close {
		padding: .5rem;
		font-size: 1rem;
	}
}


.box {
	min-height: 270px;
    width: 100%;
    display: table;
    border-radius: 15px;
    position: relative;
    background-repeat: no-repeat;
    overflow: visible;
    margin-bottom: 2rem;
    transition: $transition-base;
    &:hover {
	    box-shadow: 0 12px 21px -11px rgba($black,.5);
	    transform: translateY(-4px);
    }
    &:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-image: url("../images/base-body-overlay.gif");
	    opacity: .06;
	    pointer-events: none;
	}
    .left,
    .right {
		display: table-cell;
		vertical-align: middle;
		background-position: 0 100%;
		background-repeat: no-repeat;
		padding: 30px 8px 35px 32px;
	}
	.left {
    	z-index: 5;
		position: relative;
		width: 57%;
		padding-right: 0;
		z-index: 1;
		@include media-breakpoint-down(md) {
			width: 100%;
			padding: 2rem;
		}
    }
    .right {
		display: block;
		padding: 0;
		width: 296px;
		height: 273px;
		position: absolute;
		top: -20px;
		right: -20px;
		background-position: 50%;
		background-repeat: no-repeat;
		z-index: 2;
		@include media-breakpoint-down(md) {
			display: none;
		}
    }
    &.box-i {
	    background:radial-gradient(circle, lighten($primary,10%) 0%, $primary 100%);
	    .right {
		    background-image: url("../images/home/teaser-discovery.png");
		}
    }
    &.box-ii {
	    background-image: url("../images/home/teaser-social.jpg");
		//background-size: cover;
		background-position: 100% 0;
    }
    &.box-iii {
	    background:radial-gradient(circle, $gray-100 0%, $gray-300 100%);
	    .right {
		    background-image: url("../images/home/teaser-story.png");
		    top: 0;
		    height: 291px;
		    right: -4px;
		}
    }
    &.box-iv {
	    background:radial-gradient(circle, lighten($primary,10%) 0%, $primary 100%);
	    .right {
		    background-image: url("../images/home/teaser-me.png");
			bottom: 0;
			top: auto;
			height: 300px;
		}
    }
    &.box-v { 
	    background:radial-gradient(circle, $gray-100 0%, $gray-300 100%); 
	    .right {
		    background-image: url("../images/home/teaser-brandbook.png");
		}
		&:hover {
			transform: none;
			box-shadow: none;
		}
		.btn {
			&:hover {
				transform: translateY(-4px);
			}
		}
    }
}



.triangle-holder {
	.arrow-up {
	    width: 0px;
	    height: 0px;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-bottom: 5px solid #2f2f2f;
	}
}

.image-stories-1 {background-image: url("../images/marquee/1.png");}
.image-stories-2 {background-image: url("../images/marquee/2.png");}
.image-stories-3 {background-image: url("../images/marquee/3.png");}
.image-stories-4 {background-image: url("../images/marquee/4.png");}
.image-stories-5 {background-image: url("../images/marquee/5.png");}
.image-stories-6 {background-image: url("../images/marquee/6.png");}
.image-stories-7 {background-image: url("../images/marquee/7.png");}
.image-stories-8 {background-image: url("../images/marquee/8.png");}
.image-stories-9 {background-image: url("../images/marquee/9.png");}
.image-stories-10 {background-image: url("../images/marquee/10.png");}
.image-stories-11 {background-image: url("../images/marquee/11.png");}
.image-stories-12 {background-image: url("../images/marquee/12.png");}


.clients {
	img {
		max-width: 160px;
		filter: grayscale(1);
	}
	@include media-breakpoint-down(md) {
		display: none;
	}
}


// SERVICES
.services {
	margin-left: 10%;
	width: 90%;
	@include media-breakpoint-down(lg) {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		margin-right: auto;
		margin-left: auto;
	}
	.tv-screen {
		float: right;
		width: calc(100% - 600px);
		@include media-breakpoint-down(lg) {
			display: none;
		}
	    will-change: min-height;
	    .tv-inner {
			//border: 2px dotted red;
			//min-height: 400px;
			position: relative;
			transform: translate(0, 0);
			transform: translate3d(0, 0, 0);
			@include media-breakpoint-down(lg) {
				transform: none !important;
			}
			will-change: position, transform;
			@include media-breakpoint-down(lg) {
				position: relative !important;
				top: auto !important;
				left: auto !important;
				width: 100% !important;
			}
			.tv-hardware {
				position: relative;
				.tv-container {
					position: absolute;
					top: 1.7%;
					left: 0.95%;
					width: 88.5%;
					height: 87.5%;
					div {
						position: absolute;
						width: 100%;
						height: 100%;
						transition: $transition-base;
					}
					.screenI 	{opacity: 1;}
					.screenII 	{opacity: 0;}
					.screenIII 	{opacity: 0;}
					&.imgI {
						.screenI 	{opacity: 1;}
						.screenII 	{opacity: 0;}
						.screenIII 	{opacity: 0;}
					}
					&.imgII {
						.screenI 	{opacity: 0;}
						.screenII 	{opacity: 1;}
						.screenIII 	{opacity: 0;}
					}
					&.imgIII {
						.screenI 	{opacity: 0;}
						.screenII 	{opacity: 0;}
						.screenIII 	{opacity: 1;}
					}
				}
			}
	    }
	}
	.tv-content {
	    //border: 2px dotted green;
	    width: 500px;
	    //min-height: 2000px;
	    @include media-breakpoint-down(lg) {
		    width: 100%;
		}
		.space {
			height: 100vh; 
			@include media-breakpoint-down(lg) {
			    height: auto;
			}
		}
		.part {
			margin: 400px 0;
			//height: 500px;
			//background: red; 
			@include media-breakpoint-down(lg) {
			    margin: 100px auto;
			}
		}
	}
}

.synergy {
	//background: $black;
	padding: 120px 0;
	position: relative;
	
	.circle-holder {
		border-radius: 50%;
		max-width: 1150px;
		min-height: 1150px;
		margin: 0 auto;
		position: relative;
	    @include media-breakpoint-up(lg) {
			border: 1px dashed $gray-300; 
		}
		.circle {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    border: 1px dashed $gray-300;
		    border-radius: 50%;
		    transform: translate(-50%, -50%);
		    display: none;
		    @include media-breakpoint-up(lg) {
				display: block;   
			}
		    &.circle_one {
				height: 920px;
				width: 920px; 
			}
			&.circle_two {
				height: 735px;
				width: 735px; 
			}
			&.circle_three {
				height: 550px;
				width: 550px; 
			}
			&.circle_four {
				height: 370px;
				width: 370px; 
			}
			&.circle_five {
				height: 185px;
				width: 185px;
				border: none;
				background:$primary;
				text-align: center;
				align-items: center;
				display: none;
				z-index: 10;
			    @include media-breakpoint-up(lg) {
					display: flex;   
				}
				.text {
					width: 100%;
				}
			}
	    }
	}
	
	.group-name {
		position: relative;
		border-style: solid;
		border: 1px solid rgba(93, 88, 247, 0.14);
		border: none;
		background-color: $white;
		box-shadow: 0px 30px 60px -10px rgba($black, 0.1);
		display: flex;
		align-items: center;
		text-align: center;
		opacity: 0;
		margin-bottom: 1rem;
		color: $body-color;
		transition: $transition-base;
		width: 160px;
		height: 160px;
		@include media-breakpoint-up(lg) {
			position: absolute;
			border-radius: 50%;
			margin-bottom: 0;
		}
		&:after {
			content: "";
			position: absolute;
			min-width: 110px;
			height: 8px;
			top: 50%;
			left: 50%;
			mask: url("../images/arrow.svg");
			-webkit-mask: url("../images/arrow.svg");
			-webkit-transition-property: opacity,-webkit-transform;
			transition-property: opacity,-webkit-transform;
			transition-property: opacity,transform;
			transition-property: opacity,transform,-webkit-transform;
			-webkit-transition-duration: .5s;
			transition-duration: .5s;
			-webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
			transition-timing-function: cubic-bezier(.25,.46,.45,.94);
			will-change: opacity,transform;
			animation: move-arrows .5s linear infinite;
			background: linear-gradient(100grad,$gray-700,$gray-500);
			transform-origin: 0;
			z-index: -1;
			opacity: 0;
		}
		.text {
			width: 100%; 
			padding: 1rem;
			p {
				display: block;
				margin-bottom: 0px;
				margin-top: 5px;
				font-weight: 500;
			}
		}
		@include media-breakpoint-up(lg) {
			&.item_one {
				left: 50%;
				top: 50px; 
				&:after {
					width: 450px;
					transform: rotate(100deg);
				}
			}
			&.item_two {
				left: -5px;
				top: 275px; 
				&:after {
				    width: 540px;
				    transform: rotate(24deg);
				}
			}
			&.item_three {
				left: 290px;
				top: 285px; 
				&:after {
				    width: 290px;
				    transform: rotate(44deg);
				}
			}
			&.item_four {
				left: 67%;
				top: 38%; 
				&:after {
				    width: 280px;
				    transform: rotate(170deg);
				}
			}
			&.item_five {
				left: 93%;
				top: 55%; 
				&:after {
				    width: 570px;
				    transform: rotate(193deg);
				}
			}
			&.item_six {
				top: 60%;
				left: 38%; 
				&:after {
				    width: 200px;
				    transform: rotate(-74deg);
				}
			}
			&.item_seven {
				top: 70%;
				left: 67%; 
				&:after {
				    width: 400px;
				    transform: rotate(-130deg);
				}
			}
			&.item_eight {
				top: 84%;
				left: 41%; 
				&:after {
				    width: 460px;
				    transform: rotate(-87deg);
				}
			}
			&.item_nine {
				left: 110px;
				top: 65%; 
				&:after {
				    width: 460px;
				    transform: rotate(-33deg);
				}
			}
			&.item_ten {
				left: 75%;
				top: 15%;
				&:after {
				    width: 460px;
				    transform: rotate(138deg);
				}
			}
		}
		
		&.in-view {
			opacity: 1; 
			&:after {
				transition-delay: 1s;
				opacity: 1;
			}
			&.item_one {
				animation: rollIncustom3 0.6s linear; 
			}
			&.item_two {
				animation: rollIncustom 0.6s linear; 
			}
			&.item_three {
				animation: rollIncustom1 0.9s linear; 
			}
			&.item_four {
				animation: rollIncustom4 1.2s linear; 
			}
			&.item_five {
				animation: rollIncustom5 0.9s linear; 
			}
			&.item_six {
				animation: rollIncustom6 0.6s linear; 
			}
			&.item_seven {
				animation: rollIncustom7 0.9s linear; 
			}
			&.item_eight {
				animation: rollIncustom8 0.6s linear; 
			}
			&.item_nine {
				animation: rollIncustom9 0.9s linear; 
			}
			&.item_ten {
				animation: rollIncustom10 0.9s linear; 
			}
		}
	}
}



