// STRATEGY
.strategy {
	.card {
		padding: 1rem;
		text-align: center;
	}
}


.scene {
	position: relative;
	min-height: 600px;
	display: block;
	padding: 0;
	margin: 0;
	.layer {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.splash1 {
		width: 400px;
		height: 380px;
		top: 50%;
		left: 50%;
		background: url("../images/discovery/splash1.png") no-repeat center center transparent;
	}
	.splash2 {
		width: 400px;
		height: 413px;
		top: 50%;
		left: 50%;
		background: url("../images/discovery/splash2.png") no-repeat center center transparent;
	}
	.splash3 {
		width: 400px;
		height: 413px;
		top: 50%;
		left: 50%;
		background: url("../images/discovery/splash3.png") no-repeat center center transparent;
	}
	.core {
		width: 398px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/core.png") no-repeat center center transparent;
	}
	.first {
		width: 398px;
		height: 495px;
		top: 50%;
		left: 50%;
		background: url("../images/first.png") no-repeat center center transparent;
	}
	.story {
		width: 278px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/story.png") no-repeat center center transparent;
	}
	.identity {
		width: 398px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/identity.png") no-repeat center center transparent;
	}
	.yoda {
		width: 450px;
		height: 600px;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		background: url("../images/story/yoda.png") no-repeat center center transparent;
	}
	.book {
		width: 636px;
		height: 477px;
		top: 50%;
		left: 50%;
		background: url("../images/story/book.png") no-repeat center center transparent;
	}
	.badgeUp {
		width: 450px;
		height: 600px;
		top: 50%;
		left: 50%;
		margin-top: -150px;
		background: url("../images/story/badge.png") no-repeat center center transparent;
	}
	.fb {
		width: 300px;
		height: 378px;
		top: 50%;
		left: 50%;
		background: url("../images/social/fb.png") no-repeat center center transparent; 
		box-shadow: 0 12px 21px -11px rgba(0, 0, 0, 0.5);
		&.I {
			margin-top: 40px;
			margin-left: 40px;
			opacity: .5;
		}
		&.II {
			margin-top: 20px;
			margin-left: 20px;
			opacity: .9;
		}
	}
	.like-left {
		width: 89px;
		height: 118px;
		top: 50%;
		left: 50%;
		margin-top: 210px;
		margin-left: -70px;
		background: url("../images/social/like-left.png") no-repeat center center transparent;
	}
	.like-right {
		width: 132px;
		height: 129px;
		top: 50%;
		left: 50%;
		margin-top: 210px;
		margin-left: 270px;
		background: url("../images/social/like-right.png") no-repeat center center transparent;
	}
	.ig {
		width: 285px;
		height: 435px;
		top: 50%;
		left: 50%;
		background: url("../images/social/ig.png") no-repeat center center transparent; 
		box-shadow: 0 12px 21px -11px rgba(0, 0, 0, 0.5);
		&.I {
			margin-top: 40px;
			margin-left: 40px;
			opacity: .5;
		}
		&.II {
			margin-top: 20px;
			margin-left: 20px;
			opacity: .9;
		}
	}
	.heart-left {
		width: 118px;
		height: 214px;
		top: 50%;
		left: 50%;
		margin-top: 190px;
		margin-left: -70px;
		background: url("../images/social/heart-left.png") no-repeat center center transparent;
	}
	.heart-right {
		width: 97px;
		height: 217px;
		top: 50%;
		left: 50%;
		margin-top: 190px;
		margin-left: 270px;
		background: url("../images/social/heart-right.png") no-repeat center center transparent;
	}
}