// STRATEGY
.strategy {
	.card {
		padding: 1rem;
		text-align: center;
	}
}


.scene {
	position: relative;
	min-height: 600px;
	display: block;
	padding: 0;
	margin: 0;
	.layer {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.splash1 {
		width: 507px;
		height: 523px;
		top: 50%;
		left: 50%;
		background: url("../images/discovery/splash1.png") no-repeat center center transparent;
	}
	.splash2 {
		width: 525px;
		height: 499px;
		top: 50%;
		left: 50%;
		background: url("../images/discovery/splash2.png") no-repeat center center transparent;
	}
	.core {
		width: 398px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/core.png") no-repeat center center transparent;
	}
	.story {
		width: 278px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/story.png") no-repeat center center transparent;
	}
	.identity {
		width: 398px;
		height: 495px;
		top: 50%;
		left: 50%;
		margin-left: 100px;
		background: url("../images/discovery/identity.png") no-repeat center center transparent;
	}
}